@import "../../../assets/scss/common.scss";

.page-title {
	flex: 0 0 3rem;
	width: 100%;
	-webkit-app-region: drag;
	position: relative;

	&:after {
		content: "";
		z-index: 999;
		position: absolute;
		width: 90%;
		bottom: 0;
		left: 5%;
		height: 1px;
		background-color: #d9d9d9;
		box-shadow: 0 1px 10px #d9d9d9;
	}

	.title {
		line-height: 3rem;
		font-size: 1.2rem;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		@include text-ellipsis;
		color: rgba(0, 0, 0, 0.7);
	}
	.icon {
		margin-right: .3em;
		color: #92a3ad;
	}

	.back {
		z-index: 999;
		padding-top: 0.5rem;
		position: absolute;
		height: 100%;
		width: auto;
		left: 5%;
		margin-left: 0.5em;
		top: 0;
		line-height: 3rem;
		cursor: pointer;

		.anticon {
			font-size: 1.8rem;
			cursor: pointer;
			color: rgba(0, 0, 0, 0.3);
			transition: color ease 0.2s;
			&:hover {
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}
