{
  "presets": [
    ["env", {
      "targets": {
        "node": 8,
        "modules": false
      }
    }]
  ],
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": {
            "node": 8,
            "modules": false
          }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 59,
            "modules": false
          },
          "loose": true
        }],
        "react",
        "react-optimize",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-async-to-generator",
        ["import", { "libraryName": "antd", "style": "css" }]
      ]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": ["transform-runtime"]
}
