{
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": {
            "node": 8
          }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "loose": true
        }],
        "react",
        "react-optimize",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-async-to-generator",
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}
