* {
	box-sizing: border-box;
	word-break: break-all;
	word-wrap: break-word;
	hyphens: auto;
	margin: 0;
	padding: 0;
}

html {
	font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", "Arial", "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #383838;
}

body {
	padding: 10px;
	position: relative;
}

#root {
	position: relative;
}
#root.preview {
	width: 70%;
	margin: 2rem auto;
}

#root>*:first-child {
	margin-top: 0 !important;
}

ul, ol {
	padding-left: 0.5rem;
}
ul li {
	position: relative;
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 0.2em;
}
li>p {
	display: inline;
}
li ul li {
	list-style: circle;
	list-style-position: inside;
}
li ol, li ul {
	padding-left: 1em;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
#root>ol, #root>ul, #root>blockquote, #root>pre {
	margin-bottom: 1rem;
}
ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
.task-list-li {
	list-style-type: none;
	padding-left: 0.2rem;
}
.task-list-li:before {
	display: none;
}
img {
	max-width: 100%;
	max-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #eaecef;
	margin-top: 1.8rem;
	margin-bottom: 1.2rem;
	padding-bottom: .3em;
	line-height: 1.25;
}
a {
	color: #0366d6;
	text-decoration: none;
}
hr {
	border: 0;
	border-top: 3px solid #eaecef;
	margin-bottom: 1rem;
}
table {
	display: block;
	width: 100%;
	overflow: auto;
	margin-bottom: 1rem;
	border-collapse: collapse;
	border-spacing: 0;
}
table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}
table tr:nth-child(2n) {
	background-color: #f6f8fa;
}
td, th {
	display: table-cell;
	vertical-align: inherit;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
thead th {
	padding: 0.4rem 0.8rem;
	border: 1px solid #dfe2e5;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tbody td {
	padding: 0.4rem 0.8rem;
	border: 1px solid #dfe2e5;
}
code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 90%;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 0.2rem;
}
blockquote {
	padding: 0 1em;
	color: #6a737d;
	padding: 0.3em 1em;
	background-color: #ebebeb;
	border-left: 0.25em solid #dfe2e5;
}
blockquote > :last-child {
	margin-bottom: 0;
}
blockquote > :first-child {
	margin-top: 0;
}
pre {
	padding: 1rem;
	font-size: 90%;
	line-height: 1.45;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 0.2rem;
	overflow-x: auto !important;
}
pre code {
	padding: 0;
	background-color: transparent;
}
.task-list-item-checkbox {
	margin-right: 0.3rem;
	vertical-align: middle;
	margin-bottom: 0.25em;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.wv-dark {
	color: #cacaca;

	h1, h2, h3, h4, h5, h6 {
		border-bottom: 1px solid #9e9e9e;
	}
	hr {
		border-top: 3px solid #9e9e9e;
	}
	table tr {
		background-color: rgb(34, 34, 34);
		border-top: 1px solid #c6cbd1;
	}
	table tr:nth-child(2n) {
		background-color: rgb(9, 7, 5);
	}
	thead th {
		border-color: rgb(24, 26, 31);
	}
	tbody td {
		border-color: rgb(24, 26, 31)
	}
	code {
		background-color: rgba(10, 10, 10, 0.4);
	}
	blockquote {
		color: #cacaca;
		background-color: #171717;
		border-left: 0.25em solid #083f6a;
	}
	blockquote > :last-child {
		margin-bottom: 0;
	}
	blockquote > :first-child {
		margin-top: 0;
	}
	pre {
		background-color: rgba(10, 10, 10, 0.4);
	}
	pre code {
		background-color: transparent;
	}

	.hljs {
		display: block;
		overflow-x: auto;
		padding: 0.5em;
		color: #abb2bf;
		background: #282c34;
	}

	.hljs-comment,
	.hljs-quote {
		color: #5c6370;
		font-style: italic;
	}

	.hljs-doctag,
	.hljs-keyword,
	.hljs-formula {
		color: #c678dd;
	}

	.hljs-section,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-deletion,
	.hljs-subst {
		color: #e06c75;
	}

	.hljs-literal {
		color: #56b6c2;
	}

	.hljs-string,
	.hljs-regexp,
	.hljs-addition,
	.hljs-attribute,
	.hljs-meta-string {
		color: #98c379;
	}

	.hljs-built_in,
	.hljs-class .hljs-title {
		color: #e6c07b;
	}

	.hljs-attr,
	.hljs-variable,
	.hljs-template-variable,
	.hljs-type,
	.hljs-selector-class,
	.hljs-selector-attr,
	.hljs-selector-pseudo,
	.hljs-number {
		color: #d19a66;
	}

	.hljs-symbol,
	.hljs-bullet,
	.hljs-link,
	.hljs-meta,
	.hljs-selector-id,
	.hljs-title {
		color: #61aeee;
	}

	.hljs-emphasis {
		font-style: italic;
	}

	.hljs-strong {
		font-weight: bold;
	}

	.hljs-link {
		text-decoration: underline;
	}
}
