$htmlBg: rgba(255, 255, 255, 0);

$navWidth: 260px;

$cardBg: #1b1d24;

$loadingBg: #2c3e50;
$color: hsl(0, 0%, 22%);

// $navBg: #25292f;
$navBg: rgba(244, 244, 244, 0.7);

$rootBg: rgba(244, 244, 244, 0.9);

$noteLiActiveBg: rgba($color: #2e80fe, $alpha: 0.8);

$noteLiHoverBg: rgba($color: #2e80fe, $alpha: 0.3);

$fileLiActiveBg: rgba($color: #7f7a78, $alpha: 0.8);

$fileLiHoverBg: rgba($color: #7f7a78, $alpha: 0.6);

$noteLiActiveColor: #f7f8f9;

$noteTitleColor: #7f7a78;

$headerBg: #0c0c0c;

$colorBorder: #0c0c0c;
$windowBg: #2d313a;

$darkBorder: #0c0c0c;

$fontColor: aliceblue;
$lightFontColor: #9da5af;

$lightColor: rgb(214, 216, 218);

$navCurBg: #424851;

$lightBorderBg: #d9d9d9;

$lightHeaderBorder: #eaecef;

$darkBoxShadow: 0 2px 8px rgba(0, 0, 0, .8);
$darkContainerBg: unquote("#211e1cd9");

$darkPopoverBg: #0c0500;

$darkBarBg: #272727;
$darkColor: #b3b3b3;
$darkHighColor: #f7f8f9;
$darkNoteCurBg: #272727;
$darkNoteHoverBg: rgba($color: #333333, $alpha: .5);
$darkNoteSvgFill: #ff6666;
$darkEditorBg: #1e1e1e;
