@mixin display-flex {
	display: flex;
	display: -webkit-flex;
}

@mixin project-item {
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 0.95rem;
	color: rgba(0, 0, 0, 0.45);
	cursor: pointer;
}

@mixin normal-ipt {
	height: 1.8rem;
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

@mixin file-title-ipt {
	height: 1.6rem;
	font-size: 1.1rem;
	font-weight: bolder;
	margin-top: .1rem;
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
}

@mixin text-ellipsis($line: 1) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $line;
}

@for $i from 1 through 4 {
	.text-ellipsis-#{$i}{
		@include text-ellipsis($i);
	}
}

/**
 * zoom: 0 - 99
 */
@mixin zoom-in($value: 0) {
	z-index: $value;
}

/**
 * zoom: 100 - 299
 */
@mixin zoom-out($value) {
	z-index: $value;
}

/**
 * zoom: 300-999
 */
@mixin zoom-windows($value) {
	z-index: $value;
}
