@import "common.scss";
@import "color.scss";

.settings-root {
	flex: 1 1 auto;
	@include display-flex;
	flex-direction: column;
	position: relative;

	.settings-toc {
		position: absolute;
		left: 5%;
		top: 6rem;

		.ant-anchor-wrapper {
			background-color: transparent;
			padding-left: 0;
			margin-left: 0;
			padding-right: 4px;
			margin-right: -4px;
		}

		.ant-anchor-link {
			padding: 8px 16px;
			line-height: 1.2;
		}

		.ant-anchor-ink {
			right: 0;
			left: unset;
		}

		.ant-anchor-link-title {
			&:focus {
				text-decoration: none;
			}
		}
	}


	.modules {
		flex: 1 1 auto;
		height: 0;
		overflow-y: auto;

		.setting-tabs {
			height: 100%;
			width: 90%;
			margin: 0 auto;
			padding: 3rem 0;
		}

		.settings-module {
			width: 75%;
			margin: 0 5% 0 20%;
			padding: 2rem 3rem;

			&:first-child {
				padding-top: 3rem;
			}

			.module-title {
				position: relative;
				border-bottom: 2px solid $lightHeaderBorder;
				padding-bottom: 0.5rem;
				margin-bottom: 1.2rem;
				height: 2em;
				span {
					position: absolute;
					padding: 0 0.3em;
					bottom: 0;
					border-bottom: 2px solid $lightHeaderBorder;
				}
			}
		}

		.anticon-question-circle-o {
			font-size: 18px;
		}
	}

	.font-size-row {
		color: rgba(0, 0, 0, 0.85);
		height: 3rem;
		line-height: 3rem;
		margin-top: 0.6rem;

		.row-label {
			padding-right: 0.5em;
			text-align: right;
		}
		.number-col {
			padding-left: 1em;
		}
		.ant-slider-rail {
			background-color: #e5e5e5;
		}
	}
}
