@import "color.scss";

.light {
	&.not-darwin {
		.tool-bar {
			background: #e6e6e6;
		}
	}
	.tool-bar {
		background-color: $navBg;

		.tool-bar-bg {
			background-color: $navBg;
		}

		.menu-list {
			.menu-svg {
				fill: #ff9999;
			}

			.menu-item-radius {
				background-color: rgba($color: #ccffff, $alpha: .5);
			}
			.menu-item .cur {
				.menu-item-radius {
					background-color: #ff9999;
					box-shadow: 0 0 1.2rem .05rem #ffffff;
					opacity: 1;
				}
				.menu-svg {
					fill: #ffffff;
				}
			}
		}
		.setting {
			fill: #555;
			opacity: 0.7;
		}
	}

	.note {
		.project-list {
			border-color: $lightBorderBg;
		}
	}

	.settings-root {
		background-color: #f8f8f8;
	}
}

.dark {
	.tool-bar {
		background-color: rgb(51, 51, 51);

		.logo .avatar {
			border-color: rgba($color: #ffffff, $alpha: .8);
		}

		.menu-list {
			.menu-svg {
				fill: #c09f9f;
			}

			.menu-item-radius {
				background-color: rgba(131, 131, 131, .5);
			}

			.menu-item .cur {
				.menu-item-radius {
					background-color: #ff9999;
					box-shadow: 0 0 1.2rem .05rem rgba(255, 255, 255, 0.6);
					opacity: 1;
				}
				.menu-svg {
					fill: #ffffff;
				}
			}
		}
		.setting {
			fill: rgba(173, 173, 173, 0.7);
		}
	}

	.note-root {
		background-color: rgba(37, 37, 38, 0.8);

		.project-explorer {
			border-color: rgba(56, 46, 56, 0.8);

			.project-list {
				padding: 0;

				.project-list__li {
					border-radius: 0;

					&:hover {
						background-color: $darkNoteHoverBg;
					}

					&.cur {
						background-color: $darkNoteCurBg;

						.project-list__item {
							color: $darkNoteCurColor;
							.project-list__item__name {
								color: $darkNoteColor;
								h3 {
									color: $darkNoteCurColor;
								}

								.ant-input {
									color: $darkNoteCurColor;
								}
							}
						}
					}

					.project-list__item {
						color: $darkNoteColor;
						border-color: rgba(255, 204, 204, .5);
						.project-list__item__name {
							color: $darkNoteColor;
							h3 {
								color: $darkNoteColor;
							}

							.ant-input {
								color: $darkNoteColor;
							}
						}
					}
				}
			}
		}

		.file-explorer {
			.file-list {
				padding: 0;
				.file-list__item {
					border-radius: 0;

					.ant-input {
						color: $darkNoteColor;
					}

					.file-list__item__name {
						h3 {
							color: $darkNoteColor;
						}
					}

					.file-list__item__info__desc {
						p {
							color: $darkNoteColor;
						}
					}

					.file-list__item__icon {
						svg {
							fill: $darkNoteSvgFill;
						}
					}

					&.cur {
						background-color: $darkNoteCurBg;

						.ant-input {
							color: $darkNoteCurColor;
						}

						.file-list__item__name {
							h3 {
								color: $darkNoteCurColor;
							}
						}

						.file-list__item__info__desc {
							p {
								color: $darkNoteCurColor;
							}
						}

						.file-list__item__icon {
							svg {
								fill: $darkNoteCurColor;
							}
						}

						&:hover {
							background-color: $darkNoteCurBg;

							.ant-input {
								color: $darkNoteCurColor;
							}

							.file-list__item__name {
								h3 {
									color: $darkNoteCurColor;
								}
							}

							.file-list__item__info__desc {
								p {
									color: $darkNoteCurColor;
								}
							}

							.file-list__item__icon {
								svg {
									fill: $darkNoteCurColor;
								}
							}
						}
					}

					&:hover {
						background-color: $darkNoteHoverBg;

						.ant-input {
							color: $darkNoteColor;
						}

						.file-list__item__name {
							h3 {
								color: $darkNoteColor;
							}
						}

						.file-list__item__info__desc {
							p {
								color: $darkNoteColor;
							}
						}

						.file-list__item__icon {
							svg {
								fill: $darkNoteSvgFill;
							}
						}
					}
				}
			}
		}

		.editor-root {
			background-color: #1e1e1e;

			.code-container {
				background-color: #1e1e1e;

				.CodeMirror {
					background-color: #1e1e1e;
				}

				.CodeMirror-gutters {
					background-color: #1e1e1e;
				}
				.CodeMirror-linenumber {
					color: rgba($color: #999, $alpha: 0.5);
				}
			}
		}
	}
}
